
body{
    font-family: Arial, Helvetica, sans-serif;
}
.box{
    background: rgb(31, 31, 31);
    color:rgb(234, 234, 234);
    text-align: center;
}
#title{
    margin: auto;
    margin-top: 190px;
    padding: 10px;
    width: 50%;
    font-size: 4em;
}
#number{
    margin: auto;
    margin-top: 20px;
    padding: 10px 15px;
    width:190px;
    font-size: 1.5em;
}
